* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C3E4C;
}
.grid {
    background: yellow;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 .1rem .1rem #fff;
}
.grid div {
    height: calc(100% / 11);
    width: calc(100% / 11);
}
.grid div:nth-child(odd) {
    background-color: #2C3E4C;
}
.grid div:nth-child(even) {
    background-color: #022D36;
}
.start {
    height: fit-content;
    width: fit-content;
    background: transparent;
    border: .2rem solid #599bca;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: .7rem 1.2rem;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    color: #fff;
}
.start:hover {
    background: #599bca;
}
.score {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
}
#canvas {
    box-shadow: 0 0 .1rem .1rem #fff;
    position: absolute;
    top: .5rem;
    right: .5rem;
}